{
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "extends": [
        "react-app",
        "eslint:recommended",
        "airbnb/base"
    ],
    "rules": {
        "no-plusplus": "off",
        "linebreak-style": "off",
        "import/prefer-default-export": "off",
        "no-class-assign": "off",
        "no-shadow": "off",
        "max-len": [
            "error",
            300
        ],
        "no-use-before-define": "off",
        "no-restricted-globals": "off",
        "no-param-reassign": "off",
        "no-return-assign": "off",
        "no-func-assign": "off",
        "consistent-return": "off",
        "react-hooks/exhaustive-deps": "off",
        "no-nested-ternary": "off",
        "prefer-const": "off",
        "camelcase": "off",
        "import/no-unresolved": "off",
        "no-restricted-syntax": "off"
    }
}